<ion-header>
  <ion-toolbar>
    <ion-title>
      Lab 3
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="welcome-card">
      <img src="/assets/shapes.svg" alt="" />
      <ion-card-header>
        <ion-card-subtitle>Hello CS262</ion-card-subtitle>
        <ion-card-title>Hello Ionic World</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>We will now be using Ionic instead of Android Studio!! #fun</p>
      </ion-card-content>
    </ion-card>
</ion-content>
